<div *ngIf="displayName; then thenBlock; else elseBlock">
  If block
<input [(ngModel)]="name" type="text" />
{{name}}
</div>

<ng-template #thenBlock>
    <p>
      Then block
    </p>
</ng-template>
  
<ng-template #elseBlock>
  <p>
    Else block
  </p>
</ng-template>

<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">Vola!, It's {{color}}.</div>
  <div *ngSwitchCase="'blue'">Vola!, It's {{color}}.</div>
  <div *ngSwitchCase="'green'">Vola!, It's {{color}}.</div>
  <div *ngSwitchDefault>Pick again!</div>
</div>
